/* Define application-wide selectors here!*/

html {
	position: relative;
	height: 100%;
}

body {
	width: 80%;
	margin: 0 auto;
	font-family: $serif;
	font-size: 12px;
}

button {
	background-color: #6288a5;
	border-color: #6288a5;
	color: #f7f7f5;
	font-weight: 700;
	padding: 5px;
	border-radius: 3px;
	font-family: $sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
}

button:hover {
	background-color: #4d7b9f;
	border-color: #265e8b;
}

/*
	Header Rules
*/

hr {
	border: 0;
	height: 1px;
	background-color: $light-gray;
}

.hr-top, .hr-bottom {
	width: 100%;
	margin: 0;
}

.hr-top {
	height: 2px;
	margin-bottom: 1px;
}

a:hover {
	text-decoration: underline;
}

.hidden {
	display: none;
}